---
import Container from '../components/Container.astro';
import Timeline from '../components/Experiencia.astro';
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'
import GitHubIcon from '../components/icons/GitHubIcon.astro';
import SocialPill from '../components/SocialPill.astro'
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import Experiencia from '../components/Experiencia.astro';
import SuitCaseIcon from '../components/icons/SuitCaseIcon.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Container class="py-44 pb-24">
			<h1 class="text-white text-5xl font-bold flex flex-row items-center gap-x-4 pb-10">
				Hola, Soy Ismael!
				<Badge>Disponible para Contrataciones</Badge>
			</h1>
			<p class="text-white text-xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti autem possimus beatae aperiam at. Explicabo provident ducimus nemo quas, fugit iure, recusandae deserunt, maiores nulla deleniti repellendus quo. Sequi, vel?</p>
			<ul class="flex items-center gap-x-4 mt-8">
				<li>
					<SocialPill href="">
						<GitHubIcon class="size-5"/>
						GitHub
					</SocialPill>
				</li>

				<li>
					<SocialPill href="">
						<LinkedInIcon class="size-5"/>
						LinkedIn
					</SocialPill>
				</li>
			</ul>
		</Container>
		<Container id="experiencia">
			<h2 class="text-3xl font-semibold mb-10 flex gap-x-2 items-center">
				<SuitCaseIcon class="size-5"/>
				Experiencia Laboral
			</h2>
			<Experiencia/>
		</Container>
	</main>

</Layout>

