---
import ExperienciaItem from "./ExperienciaItem.astro"

const EXPERIENCIA = [
    {
        date: 'Febrero 2022',
        title: 'Kretz',
        description: 'Desposito'
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2">                  
    {
        EXPERIENCIA.map((experiencia) => (
            <li class="mb-10 ms-4">
                <ExperienciaItem {...experiencia}/>
            </li>
        ))
    }
    
</ol>

