<header class="flex justify-between py-4 items-center w-[1120px] mx-auto">
  <img
    class="size-10"
    src="../../public/avatar.png"
    alt="Avatar personal del header"/>
  <nav class="flex justify-center items-center gap-x-5">
    <a href="#home">Inicio</a>
    <a href="#sobre-mi">Sobre Mi</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#tecnologias">Tecnologias</a>
  </nav>
</header>
